<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Eat-Da-Burger!</title>
		<style>
			#waiting-area {
				float: left;
			}

			#devoured {
				float: right;
			}
		</style>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
